.margin0 {
	margin: 0 !important;
}

.padding0 {
	padding: 0 !important;
}

.paddingStart0 {
	padding-inline-start: 0 !important;
}

.margin4 {
	margin: 0.25rem !important;
}

.margin8 {
	margin: 0.5rem !important;
}

.margin16 {
	margin: 1rem !important;
}

.margin24 {
	margin: 1.5rem !important;
}

.margin32 {
	margin: 2rem !important;
}

.margin40 {
	margin: 2.5rem !important;
}

.margin48 {
	margin: 3rem !important;
}

.margin56 {
	margin: 3.5rem !important;
}

.margin64 {
	margin: 4rem !important;
}

.margin72 {
	margin: 4.5rem !important;
}

.margin80 {
	margin: 5rem !important;
}

.marginTop4 {
	margin-top: 0.25rem !important;
}

.marginTop8 {
	margin-top: 0.5rem !important;
}

.marginTop12 {
	margin-top: 0.75rem !important;
}

.marginTop16 {
	margin-top: 1rem !important;
}

.marginTop24 {
	margin-top: 1.5rem !important;
}

.marginTop32 {
	margin-top: 2rem !important;
}

.marginTop40 {
	margin-top: 2.5rem !important;
}

.marginTop48 {
	margin-top: 3rem !important;
}

.marginTop52 {
	margin-top: 3.25rem !important;
}

.marginTop56 {
	margin-top: 3.5rem !important;
}

.marginTop64 {
	margin-top: 4rem !important;
}

.marginTop72 {
	margin-top: 4.5rem !important;
}

.marginTop80 {
	margin-top: 5rem !important;
}

.marginTop200 {
	margin-top: 200px !important;
}

.marginBottom4 {
	margin-bottom: 0.25rem !important;
}

.marginBottom8 {
	margin-bottom: 0.5rem !important;
}

.marginBottom16 {
	margin-bottom: 1rem !important;
}

.marginBottom24 {
	margin-bottom: 1.5rem !important;
}

.marginBottom32 {
	margin-bottom: 2rem !important;
}

.marginBottom40 {
	margin-bottom: 2.5rem !important;
}

.marginBottom48 {
	margin-bottom: 3rem !important;
}

.marginBottom52 {
	margin-bottom: 3.25rem !important;
}

.marginBottom56 {
	margin-bottom: 3.5rem !important;
}

.marginBottom64 {
	margin-bottom: 4rem !important;
}

.marginBottom72 {
	margin-bottom: 4.5rem !important;
}

.marginBottom80 {
	margin-bottom: 5rem !important;
}

.marginBottom87 {
	margin-bottom: 5.25rem !important;
}

.marginLeft4 {
	margin-left: 0.25rem !important;
}

.marginLeft8 {
	margin-left: 0.5rem !important;
}

.marginLeft16 {
	margin-left: 1rem !important;
}

.marginLeft24 {
	margin-left: 1.5rem !important;
}

.marginInlineStart31 {
	margin-inline-start: 1.9375rem !important;
}

.marginLeft32 {
	margin-left: 2rem !important;
}

.marginLeft40 {
	margin-left: 2.5rem !important;
}

.marginLeft48 {
	margin-left: 3rem !important;
}

.marginLeft56 {
	margin-left: 3.5rem !important;
}

.marginLeft64 {
	margin-left: 4rem !important;
}

.marginLeft72 {
	margin-left: 4.5rem !important;
}

.marginLeft80 {
	margin-left: 5rem !important;
}

.marginRight4 {
	margin-right: 0.25rem !important;
}

.marginRight8 {
	margin-right: 0.5rem !important;
}

.marginRight16 {
	margin-right: 1rem !important;
}

.marginRight24 {
	margin-right: 1.5rem !important;
}

.marginRight32 {
	margin-right: 2rem !important;
}

.marginRight40 {
	margin-right: 2.5rem !important;
}

.marginRight48 {
	margin-right: 3rem !important;
}

.marginRight56 {
	margin-right: 3.5rem !important;
}

.marginRight64 {
	margin-right: 4rem !important;
}

.marginRight72 {
	margin-right: 4.5rem !important;
}

.marginRight80 {
	margin-right: 5rem !important;
}

.padding4 {
	padding: 0.25rem !important;
}

.padding8 {
	padding: 0.5rem !important;
}

.padding16 {
	padding: 1rem !important;
}

.padding24 {
	padding: 1.5rem !important;
}

.padding32 {
	padding: 2rem !important;
}

.padding40 {
	padding: 2.5rem !important;
}

.padding48 {
	padding: 3rem !important;
}

.padding56 {
	padding: 3.5rem !important;
}

.padding64 {
	padding: 4rem !important;
}

.padding72 {
	padding: 4.5rem !important;
}

.padding80 {
	padding: 5rem !important;
}

.paddingTop4 {
	padding-top: 0.25rem !important;
}

.paddingTop8 {
	padding-top: 0.5rem !important;
}

.paddingTop16 {
	padding-top: 1rem !important;
}

.paddingTop24 {
	padding-top: 1.5rem !important;
}

.paddingTop32 {
	padding-top: 2rem !important;
}

.paddingTop40 {
	padding-top: 2.5rem !important;
}

.paddingTop48 {
	padding-top: 3rem !important;
}

.paddingTop49 {
	padding-top: 3.0625rem !important;
}

.paddingTop56 {
	padding-top: 3.5rem !important;
}

.paddingTop64 {
	padding-top: 4rem !important;
}

.paddingTop72 {
	padding-top: 4.5rem !important;
}

.paddingTop140 {
	padding-top: 8.75rem !important;
}

.paddingTop200 {
	padding-top: 12.5rem !important;
}

.paddingTop240 {
	padding-top: 15rem !important;
}

.paddingTop250 {
	padding-top: 15.625rem !important;
}

.paddingTop80 {
	padding-top: 5rem !important;
}

.paddingTop110 {
	padding-top: 6.875rem !important;
}

.paddingTop160 {
	padding-top: 10rem !important;
}

.paddingTop188 {
	padding-top: 11.75rem !important;
}

.paddingTop84 {
	padding-top: 5.25rem !important;
}

.paddingTop240 {
	padding-top: 15rem !important;
}

.paddingBottom4 {
	padding-bottom: 0.25rem !important;
}

.paddingBottom8 {
	padding-bottom: 0.5rem !important;
}

.paddingBottom16 {
	padding-bottom: 1rem !important;
}

.paddingBottom24 {
	padding-bottom: 1.5rem !important;
}

.paddingBottom32 {
	padding-bottom: 2rem !important;
}

.paddingBottom40 {
	padding-bottom: 2.5rem !important;
}

.paddingBottom48 {
	padding-bottom: 3rem !important;
}

.paddingBottom56 {
	padding-bottom: 3.5rem !important;
}

.paddingBottom64 {
	padding-bottom: 4rem !important;
}

.paddingBottom72 {
	padding-bottom: 4.5rem !important;
}

.paddingBottom80 {
	padding-bottom: 5rem !important;
}

.paddingBottom84 {
	padding-bottom: 5.25rem !important;
}

.paddingBottom100 {
	padding-bottom: 100px !important;
}

.paddingBottom114 {
	padding-bottom: 7.125rem !important;
}

.paddingBottom134 {
	padding-bottom: 8.375rem !important;
}

.paddingBottom164 {
	padding-bottom: 10.25rem !important;
}

.paddingBottom188 {
	padding-bottom: 11.75rem !important;
}

.paddingBottom200 {
	padding-bottom: 12.5rem !important;
}

.paddingBottom240 {
	padding-bottom: 15rem !important;
}

.paddingLeft4 {
	padding-left: 0.25rem !important;
}

.paddingLeft8 {
	padding-left: 0.5rem !important;
}

.paddingLeft16 {
	padding-left: 1rem !important;
}

.paddingLeft24 {
	padding-left: 1.5rem !important;
}

.paddingLeft32 {
	padding-left: 2rem !important;
}

.paddingLeft40 {
	padding-left: 2.5rem !important;
}

.paddingLeft48 {
	padding-left: 3rem !important;
}

.paddingLeft56 {
	padding-left: 3.5rem !important;
}

.paddingLeft64 {
	padding-left: 4rem !important;
}

.paddingLeft72 {
	padding-left: 4.5rem !important;
}

.paddingLeft80 {
	padding-left: 5rem !important;
}

.paddingRight4 {
	padding-right: 0.25rem !important;
}

.paddingRight8 {
	padding-right: 0.5rem !important;
}

.paddingRight16 {
	padding-right: 1rem !important;
}

.paddingRight24 {
	padding-right: 1.5rem !important;
}

.paddingRight32 {
	padding-right: 2rem !important;
}

.paddingRight40 {
	padding-right: 2.5rem !important;
}

.paddingRight48 {
	padding-right: 3rem !important;
}

.paddingRight56 {
	padding-right: 3.5rem !important;
}

.paddingRight64 {
	padding-right: 4rem !important;
}

.paddingRight72 {
	padding-right: 4.5rem !important;
}

.paddingRight80 {
	padding-right: 5rem !important;
}

.paddingTop120 {
	padding-top: 7.5rem !important;
}

.marginBottom120 {
	margin-bottom: 7.5rem !important;
}

.paddingBottom120 {
	padding-bottom: 7.5rem !important;
}

.marginBottom88 {
	margin-bottom: 88px !important;
}

.marginBottom100 {
	margin-bottom: 100px !important;
}

.marginBottom200 {
	margin-bottom: 200px !important;
}
